<%= render :partial => 'submitted_content/title' %>    

<%@stage = @assignment.get_current_stage(@participant.topic_id)%>
<%= render :partial => 'submitted_content/main', :locals => {:participant => @participant, :stage => @stage} %>

<%= render :partial => 'submitted_content/selfreview'%>   <!-- E726 Fall2012 Change Starts -->
<BR/>
<BR/>
<a href="javascript:window.history.back()">Back</a>